
body {
    --color1: black;
    --color2: black;
    --color3: black;;
    --color4: black;
    --color5: black;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    /* --gutter: 30px;
    --footer-height: 25px; */
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    background-image: url(https://techcrunch.com/wp-content/uploads/2014/12/matrix.jpg?w=1000);
}

* {
    /* border: solid white 2px; */
    background-color: black;
    color: rgb(9, 233, 9);
}

#img {
    position: fixed; 
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

#background-images {
    display: flex;
    flex-direction: row;
}

.main-section-overlay {
    /* position: fixed; Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 650px; /* Full width (cover the whole page) */
    height: 750px;
    ; /* Full height (cover the whole page) */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* border: solid white 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
  }

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: black;
    height: 850px;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: var(--gutter); */
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    /* border: solid 2px var(--color1); */
}

#bullet-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black 2px;
}

ul, ol {
    border: solid black 2px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

button {
    background-color: black;
    color: rgb(9, 233, 9);
    border: solid rgb(9, 233, 9) 3px;
    border-radius: 5px;
    cursor: pointer;
}

content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

p {
    margin: var(--gutter);
    border: solid black 2px;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}



  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }